<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="dbcs" connectionString="Data Source=SAIKAT\SQLEXPRESS;Initial Catalog=SpeakOutAntiCorruptionDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="SpeakOut___Anti_Corruption_Reporting_System.Properties.Settings.SpeakOutAntiCorruptionDBConnectionString"
   connectionString="Data Source=SAIKAT\SQLEXPRESS;Initial Catalog=SpeakOutAntiCorruptionDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>